<template>
  <div>
    <div class="user-block">
      <div class="signin-body" v-if="!isAuthenticated">
        <div class="signin-body none-decoration" v-on:click="signShow">
        <div class="signin-button">
            <img style="margin-right: 5px" src="../../assets/images/icons/signin.png" alt="" title="Выход">
        </div>
        <div class="signing-text">
          Вход<br>
          /Регистрация
        </div>
        </div>
      </div>
      <div v-if="isProfileLoaded" class="avatar-body">
        <div class="avatar-container" v-on:click="$emit('switch-menu')">
          <router-link class="none-decoration" to="/user">
            <avatar :size="48" v-if="!user.avatar" :username="user.name"></avatar>
            <img v-if="user.avatar" class="user-avatar" alt="" :src="user.avatar">
          </router-link>
        </div>
        <div class="avatar-body-second">
          <div class="avatar-body-username">{{ user.name }}</div>
          <div class="avatar-body-buttons">
            <div class="avatar-body-button">
              <router-link class="none-decoration" to="/user" title="Уведомления">
                <img src="../../assets/images/icons/new/alerts.png" alt="">
              </router-link>
            </div>
            <div class="avatar-body-button">
              <router-link class="none-decoration" to="/user-settings" title="Настройки">
                <img src="../../assets/images/icons/new/settings.png" alt="">
              </router-link>
            </div>
            <div class="avatar-body-button">
              <a v-on:click="logout" class="none-decoration">
                <img style="margin-right: 5px" src="../../assets/images/icons/new/logout.png" alt="" title="Выход">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="sidebar-menu">
    <ul v-on:click="$emit('switch-menu')">
      <router-link tag="li" to="/" exact>Главное</router-link>
      <router-link tag="li" to="/category-list/news">Новости</router-link>
      <router-link tag="li" to="/category-list/articles">Статьи</router-link>
      <router-link tag="li" to="/category-list/reviews">Обзоры</router-link>
      <router-link tag="li" to="/category-list/preview">Превью</router-link>
      <router-link tag="li" to="/category-list/guides">Гайды</router-link>
      <router-link tag="li" to="/category-list/video">Видео</router-link>
    </ul>
  </div>
</div>
</template>

<script>
  import { mapGetters } from 'vuex';
  import { AUTH_LOGOUT, AUTH_SHOW } from '../../store/actions/auth';

  export default {
    name: 'side-bar-main-menu',
    data() {
      const menuVisible = false;
      return {
        menuVisible,
      };
    },
    computed: {
      ...mapGetters(['isAuthenticated', 'isProfileLoaded', 'user']),
    },
    methods: {
      signShow() {
        this.$store.commit(AUTH_SHOW);
      },
      logout() {
        this.$store.dispatch(AUTH_LOGOUT)
          .then(() => {
          });
      },
    },
  };
</script>

<style scoped>
  .router-link-exact-active, .active {
    color: #1681ff!important;
    border-left: 4px solid #1681ff;
    font-weight: 600;
  }

</style>
