<template>
  <div itemscope itemtype="http://schema.org/NewsArticle" class="post-body">

    <div class="post-header">
      <router-link v-bind:to="'/category-list/' + post.categories[0] + '/post/' + post.id"><h1 itemprop="headline">{{ post.title }}</h1>
      </router-link>
    </div>

    <div class="post-source-container" itemprop="author" itemscope itemtype="http://schema.org/Person">
      <a class="post-source secondary-text" v-if="post.source" :href="post.source.url" target="_blank" title="источник" itemprop="name">{{post.source.name}}</a>
      <div class="secondary-text">{{post.publishedAt | formatDate }}</div>
    </div>

    <div class="post-content">

      <img v-if="post.announce" class="post-teaser" :src="teaserImage">
      <div itemprop="articleBody" v-if="!post.announce" class="post-text" v-html="post.text"></div>


      <div class="post-header-info">
        <post-tags v-if="post" :post="post"></post-tags>
        <post-categories v-if="post" :post="post"></post-categories>
      </div>

      <div itemprop="articleBody" v-if="post.announce" class="post-text" v-html="post.announce"></div>

      <div v-if="post.announce" class="post-announce-link">
        <router-link v-bind:to="'/category-list/' + post.categories[0] + '/post/' + post.id">
          Читать далee...
        </router-link>
      </div>

    </div>

    <post-like v-if="post" :post="post" :user="user"></post-like>

  </div>
</template>

<script>

  export default {
    name: 'Post',
    props: ['post', 'user'],
    computed: {
      teaserImage() {
        if (this.post.teaserImage && this.post.teaserImage.indexOf('http://dev.woh.ru') === -1) {
          this.post.teaserImage = `${process.env.imgRoot}${this.post.teaserImage}`;
        }
        return this.post.teaserImage;
      },
    },
  };
</script>

<style scoped>
  .item {
    margin-top: 10px;
    margin-right: 40px;
  }
</style>
