<template>
  <div class="info-body">


    <div class="post-info-item">
      <svg class="info-i-view" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M8 3H16V5H8V3ZM6 7V5H8V7H6ZM4 9V7H6V9H4ZM2 11V9H4V11H2ZM2 13H0V11H2V13ZM4 15H2V13H4V15ZM6 17H4V15H6V17ZM8 19H6V17H8V19ZM16 19V21H8V19H16ZM18 17V19H16V17H18ZM20 15V17H18V15H20ZM22 13V15H20V13H22ZM22 11H24V13H22V11ZM20 9H22V11H20V9ZM18 7H20V9H18V7ZM18 7V5H16V7H18ZM9 9H13V11H15V15H9V9Z" fill="black"/>
      </svg>
      <div class="info-view-count">2 432</div>
    </div>

    <router-link v-bind:to="'/category-list/' + post.categories[0] + '/post/' + post.id">
      <div class="post-info-item">

        <svg class="info-i-view" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M20 3H4V5L2 5V15H4V5L19.9 5V15H12V17H10V19H8V21H10V19H12V17L20 17V15H22V5L20 5V3ZM18 7H6V9H18V7ZM6 11H13V13H6V11Z" fill="black"/>
          <rect x="6" y="21" width="2" height="2" fill="black"/>
          <rect x="4" y="15" width="2" height="6" fill="black"/>
        </svg>

        <div class="info-view-count">{{post.totalComments}}</div>
      </div>
    </router-link>


    <div class="post-rating post-info-item">
      <svg style="display: none" v-on:click="dislike()" class="info-i" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path v-bind:class="buttonDislikeWeight" fill-rule="evenodd" clip-rule="evenodd" d="M13 22L12 22L10 22L10 20L10 17L1 17L1 15L1 13L3 13L3 15L10 15L12 15L12 17L12 20L13 20L14 20L15 20L15 22L14 22L13 22ZM5 9L3 9L3 11L3 13L9 13L9 11L5 11L5 9ZM7 5L7 7L9 7L9 9L5 9L5 7L5 5L7 5ZM7 5L7 3L21 3L21 5L7 5ZM15 20L17 20L17 18L19 18L19 16L21 16L21 14L23 14L23 5L21 5L21 14L19 14L19 16L17 16L17 18L15 18L15 20Z" fill="black"/>
      </svg>

      <svg v-on:click="dislike()" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M13 22L12 22L10 22L10 20L10 17L1 17L1 15L1 13L3 13L3 15L10 15L12 15L12 17L12 20L13 20L14 20L15 20L15 22L14 22L13 22ZM5 9L3 9L3 11L3 13L9 13L9 11L5 11L5 9ZM7 5L7 7L9 7L9 9L5 9L5 7L5 5L7 5ZM7 5L7 3L21 3L21 5L7 5ZM15 20L17 20L17 18L19 18L19 16L21 16L21 14L23 14L23 5L21 5L21 14L19 14L19 16L17 16L17 18L15 18L15 20Z" fill="black"/>
        <path v-bind:class="buttonDislikeWeight" d="M21 13H23V4H21V2H7V4H5V6V8H3V10V12H1V16H10V21H15V19H17V17H19V15H21V13Z"/>
      </svg>

      <div class="rating-count" v-bind:class="countColor">{{likeCount}}</div>

      <svg style="display: none" v-on:click="like()" class="info-i" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path v-bind:class="buttonLikeWeight" fill-rule="evenodd" clip-rule="evenodd" d="M11 2L12 2L14 2L14 4L14 7L23 7L23 9L23 11L21 11L21 9L14 9L12 9L12 7L12 4L11 4L10 4L9 4L9 2L10 2L11 2ZM19 15L21 15L21 13L21 11L15 11L15 13L19 13L19 15ZM17 19L17 17L15 17L15 15L19 15L19 17L19 19L17 19ZM17 19L17 21L3 21L3 19L17 19ZM9 4L7 4L7 6L5 6L5 8L3 8L3 10L0.999999 10L0.999999 19L3 19L3 10L5 10L5 8L7 8L7 6L9 6L9 4Z" fill="black"/>
      </svg>

      <svg v-on:click="like()" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M11 2L12 2L14 2L14 4L14 7L23 7L23 9L23 11L21 11L21 9L14 9L12 9L12 7L12 4L11 4L10 4L9 4L9 2L10 2L11 2ZM19 15L21 15L21 13L21 11L15 11L15 13L19 13L19 15ZM17 19L17 17L15 17L15 15L19 15L19 17L19 19L17 19ZM17 19L17 21L3 21L3 19L17 19ZM9 4L7 4L7 6L5 6L5 8L3 8L3 10L0.999999 10L0.999999 19L3 19L3 10L5 10L5 8L7 8L7 6L9 6L9 4Z" fill="black"/>
        <path v-bind:class="buttonLikeWeight" d="M3 9H1V18H3V20H17V18H19V16V14H21V12V10H23V6H14V1H9V3H7V5H5V7H3V9Z"/>
      </svg>

    </div>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex';
  import { POST_LIKE, POST_DISLIKE } from '../../../store/actions/PostActions';

  export default {
    name: 'PostLike',
    data() {
      const red = false;
      const green = false;
      const liked = false;
      const disliked = false;
      return {
        red, green, liked, disliked,
      };
    },
    props: ['post', 'user'],
    computed: {
      ...mapGetters({
        postUpdate: 'post',
      }),
      countColor() {
        return {
          red: this.post.rating.count < 0,
          green: this.post.rating.count > 0,
        };
      },
      buttonLikeWeight() {
        return {
          liked: this.post.rating.like === true,
        };
      },
      buttonDislikeWeight() {
        return {
          disliked: this.post.rating.dislike === true,
        };
      },
      likeCount() {
        if (!this.post.rating.count) {
          this.post.rating.count = 0;
        }
        return this.post.rating.count;
      },
    },
    methods: {
      like() {
        this.$store.dispatch(POST_LIKE, this.post.id).then(() => {
          this.post.rating = this.postUpdate.rating;
        });
      },
      dislike() {
        this.$store.dispatch(POST_DISLIKE, this.post.id).then(() => {
          this.post.rating = this.postUpdate.rating;
        });
      },
    },
  };
</script>

<style scoped>
  .red {
    color: #ff3125;
    font-weight: 700;
  }

  .green {
    color: #33ca43;
    font-weight: 700;
  }

  .liked {
    fill:  #33ca43;
  }

  .disliked {
    fill: #ff3125;
  }

</style>
