<template>
  <div class="user-page-container grid-x">
    <vue-headful
      title="WOH.RU - Опубликованные статьи"
      description="Description from vue-headful" />

    <div class="large-18 cell">
      <h2>Опубликованные статьи</h2>
      <div class="user-posts-list-no-content">
        <div>Вы еще не написали ни одной статьи(. Пишите всё что вам интересно</div>
        <a class="show-for-large" @click="goToWritePost">Написать</a>
      </div>
    </div>
    <div class="large-6 cell"></div>
  </div>
</template>

<script>
  export default {
    name: 'user-posts-list',
    methods: {
      goToWritePost() {
        this.$router.push('/user-new-post');
      },
    },
  };
</script>

<style scoped>

</style>
