<template>
  <div class="user-settings-container">
    <vue-headful
      title="WOH.RU - Настройки"
      description="Description from vue-headful"
    />

    <h2 class="user-settings-title">Настройки</h2>

    <user-avatar v-if="isProfileLoaded"></user-avatar>

    <account-settings></account-settings>

  </div>
</template>

<script>
  import { mapGetters } from 'vuex';
  import AccountSettings from './parts/AccountSettings';
  import UserAvatar from './parts/UserAvatar';

  export default {
    components: { AccountSettings, UserAvatar },
    name: 'user-settings',
    data() {
      return {};
    },
    computed: {
      ...mapGetters(['user', 'isProfileLoaded']),
    },
  };
</script>

<style scoped>

</style>
