<template>
      <span class="source-buttons">
         <i v-bind:class="online" class="fas fa-circle"></i>
      </span>
</template>

<script>
  export default {
    name: 'SourceOnline',
    props: ['isApproved'],
    computed: {
      online() {
        return {
          red: this.isApproved === false,
          green: this.isApproved === true,
        };
      },
    },
  };
</script>

<style scoped>
  .red {
    color: #c53030;
    font-size: 12px;
    margin-right: 5px;
    position: relative;
    bottom: 1px;
  }

  .green {
    color: #c53030;
    font-size: 12px;
    margin-right: 5px;
    position: relative;
    bottom: 1px;
  }
</style>
