<template>
  <div class="user-page-container grid-x">
    <vue-headful
      title="WOH.RU - добавить статью"
      description="Description from vue-headful"
    />

    <div class="shrink cell auto-for-small">

      <cooltextarea
        :content.sync="content"
        :emojiData="emojiDataAll"
        :emojiGroups="emojiGroups"
        @enterKey="onEnterKey"
        ref="cool"></cooltextarea>



      <div class="user-new-post-top-container">
        <h2>Новая статья</h2>
        <div class="user-new-post-top-time">Черновик, 21:01 04.12.2019</div>
        <div class="user-new-post-top-buttons">
          <el-button class="no-padding" v-on:click="test" type="text" :disabled="!saveAllow">Сохранить</el-button>
        </div>
      </div>


      <div class="user-new-post-teaser">
        <croppa
          v-model="post.teaserImage"
          :width="780"
          :height="360"
          placeholder=""
          canvas-color="transparent"
          :show-remove-button="true"
          remove-button-color="black"
          :prevent-white-space="true"
          :show-loading="true"
          :remove-button-size="25">
          <img slot="placeholder"
               src="../assets/images/circle-edit.png">
        </croppa>
      </div>

      <post-tags-add :post="post"></post-tags-add>
      <div class="line"></div>
      <el-input class="user-new-post-title" resize="none" :autosize="autosize"
                placeholder="Заголовок" type="textarea" v-model="post.title"></el-input>

      <froala :onManualControllerReady="initializeLink" class="editor" :config="config" v-model="post.text"></froala>

    </div>


  </div>
</template>

<script>
  import { CoolTextArea } from 'cool-emoji-picker';
  import EmojiData from 'cool-emoji-picker/emoji-data/ru/emoji-all-groups.json';
  import EmojiGroups from 'cool-emoji-picker/emoji-data/emoji-groups.json';
  import 'froala-editor/css/themes/dark.min.css';
  import UserSlideInfo from './user-profile/parts/UserSlideInfo';
  import { configFroala } from './mixins/postEditConfig';

  export default {
    mixins: [configFroala],
    name: 'user-new-post',
    components: { UserSlideInfo, cooltextarea: CoolTextArea },
    data() {
      const post = {
        title: '', text: '', tags: [], categories: [], teaserImage: null,
      };
      const top = 54;
      return {
        content: null,
        post,
        testText: null,
        autosize: { minRows: 1, maxRows: 6 },
        allow: true,
        message: '',
        top,
        linkInitControls: null,
        initializeLink: (linkInitControls) => {
          this.linkInitControls = linkInitControls;
          this.linkInitControls.initialize();
        },
      };
    },
    computed: {
      saveAllow() {
        this.allow = this.post.title.length <= 2;
        return this.allow;
      },
      emojiDataAll() {
        return EmojiData;
      },
      emojiGroups() {
        return EmojiGroups;
      },
    },
    methods: {
      onEnterKey() {
        console.log(this.$refs);
      },
      test() {
        const re = '<iframe width="640" height="360" src="https://www.youtube.com/embed/$1?wmode=opaque" frameborder="0" ' +
          'allowfullscreen="" class="fr-draggable"></iframe>';
        this.testText = this.testText.replace(/https:\/\/www.youtube.com\/watch\?v=(.*?)$/g, re);
        console.log(this.testText);

        // this.testText = this.testText.replace(/(\r\n|\n)/g, '<br/>');
        // this.linkInitControls.getEditor().toolbar.disable();
      },
    },
  };
</script>

<style scoped>
  .line {
    border-bottom: 1px solid #d8d8d8;
    margin: 20px 0;
  }

  .editor {
    padding-bottom: 50px;
    max-width: 780px;
  }

  .no-padding {
    padding: 0;
  }
</style>
