<template>
  <div class="comment-rating">
        <svg v-on:click="dislike()" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd"
                d="M13 22L12 22L10 22L10 20L10 17L1 17L1 15L1 13L3 13L3 15L10 15L12 15L12 17L12 20L13 20L14 20L15 20L15 22L14 22L13 22ZM5 9L3 9L3 11L3 13L9 13L9 11L5 11L5 9ZM7 5L7 7L9 7L9 9L5 9L5 7L5 5L7 5ZM7 5L7 3L21 3L21 5L7 5ZM15 20L17 20L17 18L19 18L19 16L21 16L21 14L23 14L23 5L21 5L21 14L19 14L19 16L17 16L17 18L15 18L15 20Z"
                fill="black"/>
          <path v-bind:class="buttonDislikeWeight"
                d="M21 13H23V4H21V2H7V4H5V6V8H3V10V12H1V16H10V21H15V19H17V17H19V15H21V13Z"/>
        </svg>
    <div class="comment-rating-count" v-bind:class="countColor">{{likeCount}}</div>
        <svg v-on:click="like()" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd"
                d="M11 2L12 2L14 2L14 4L14 7L23 7L23 9L23 11L21 11L21 9L14 9L12 9L12 7L12 4L11 4L10 4L9 4L9 2L10 2L11 2ZM19 15L21 15L21 13L21 11L15 11L15 13L19 13L19 15ZM17 19L17 17L15 17L15 15L19 15L19 17L19 19L17 19ZM17 19L17 21L3 21L3 19L17 19ZM9 4L7 4L7 6L5 6L5 8L3 8L3 10L0.999999 10L0.999999 19L3 19L3 10L5 10L5 8L7 8L7 6L9 6L9 4Z"
                fill="black"/>
          <path v-bind:class="buttonLikeWeight" d="M3 9H1V18H3V20H17V18H19V16V14H21V12V10H23V6H14V1H9V3H7V5H5V7H3V9Z"/>
        </svg>
  </div>
</template>

<script>
  import { COMMENT_LIKE, COMMENT_DISLIKE } from '../../store/actions/comments';

  export default {
    name: 'PostLike',
    data() {
      const red = false;
      const green = false;
      const liked = false;
      const disliked = false;
      return {
        red, green, liked, disliked,
      };
    },
    props: ['comment'],
    computed: {
      countColor() {
        return {
          red: this.comment.rating.count < 0,
          green: this.comment.rating.count > 0,
        };
      },
      buttonLikeWeight() {
        return {
          liked: this.comment.rating.like === true,
        };
      },
      buttonDislikeWeight() {
        return {
          disliked: this.comment.rating.dislike === true,
        };
      },
      likeCount() {
        if (!this.comment.rating.count) {
          this.comment.rating.count = 0;
        }
        return this.comment.rating.count;
      },
    },
    methods: {
      like() {
        this.comment.postId = this.$route.params.id;
        this.$store.dispatch(COMMENT_LIKE, this.comment).then(() => {
        });
      },
      dislike() {
        this.comment.postId = this.$route.params.id;
        this.$store.dispatch(COMMENT_DISLIKE, this.comment).then(() => {
        });
      },
    },
  };
</script>

<style scoped>
  .red {
    color: #d0021b;
    background-color: #ffcfd5;
  }

  .green {
    background-color: #cfefaf;
    color: #417505;
  }

  .liked {
    fill:  #33ca43;
  }

  .disliked {
    fill: #ff3125;
  }
</style>
