<template>
  <div class="comments-body">
    <div id="edit" v-if="commentTitle" class="sub-block-title"><h2>Комментарии ({{ totalComments }})</h2></div>
    <div v-else>Ваш комментарий будет первым</div>

    <div class="comment-new" v-if="isAuthenticated">
      <div class="replay-info" v-if="replyTo.id">Ответ пользователю {{replyTo.user.name}}
        <button v-on:click="replayClear()"><i class="el-icon-close"></i></button>
      </div>

      <div class="comment-new-editor">
        <cool-text-area :replyTo="replyTo"></cool-text-area>
      </div>
    </div>

    <div v-else class="login-need">
      <router-link to="/login/">Авторизуйтесь</router-link>
      , чтобы оставить комментарий
    </div>
    <comments v-for="(comment, index) in comments" :key="comment.id" :commentIndex="index" :comment="comment" :replyTo="replyTo"></comments>
  </div>
</template>

<script>
  /* eslint-disable no-console */

  import { mapGetters } from 'vuex';
  import CoolTextArea from '../cool-emoji-picker/src/components/cooltextarea/cooltextarea.vue';
  import { COMMENTS_GET } from '../../store/actions/comments';

  export default {
    name: 'PostComments',
    components: { CoolTextArea },
    data() {
      const commentText = '';
      const replyTo = {
        id: null,
        user: { name: null },
      };
      return {
        commentText, replyTo,
      };
    },
    created() {
      this.$store.dispatch(COMMENTS_GET, this.$route.params.id);
      if (localStorage.getItem(`post_${this.$route.params.id}`)) {
        this.commentText = localStorage.getItem(`post_${this.$route.params.id}`);
      }
    },
    watch: {
      commentText(comment) {
        localStorage.setItem(`post_${this.$route.params.id}`, comment);
      },
    },
    computed: {
      ...mapGetters(['comments', 'isAuthenticated', 'post', 'totalComments']),
      commentTitle() {
        return this.totalComments > 0;
      },
    },
    methods: {
      replayClear() {
        this.replyTo.id = null;
        this.replyTo.user = { name: null };
      },
      cancelEdit() {
        this.$emit('edit');
      },
    },
  };
</script>
