<template>
    <div class="teaser-container show-for-medium">
        <div class="grid-x teaser-body">
            <div class="cell auto">
                <router-link v-bind:to="'/category-list/' + teasers.teaserView.categories[0] + '/post/' + teasers.teaserView.id">
                <div class="teaser-main" :style="{ backgroundImage: 'url' + '(' + teaserImageUrl(teasers.teaserView.teaserImage) + ')' }">
                    <div class="teaser-main-title-container">
                        <post-categories :post="teasers.teaserView"></post-categories>
                        <h1 class="teaser-main-title">{{teasers.teaserView.title}}</h1>
                        <div class="teaser-main-info-body">
                        </div>
                    </div>
                </div>
                </router-link>
            </div>


            <div class="cell large-8 medium-8">
                <div class="grid-y">
                    <div class="cell" v-for="teaser in teasers.featuredView" :key="teaser.id">
                        <router-link v-bind:to="'/category-list/' + teaser.categories[0] + '/post/' + teaser.id">
                        <div class="teaser-sub" :style="{ backgroundImage: 'url' + '(' + teaserImageUrl(teaser.featuredImage) + ')' }">
                            <div class="teaser-sub-title-container">
                                <post-categories :post="teaser"></post-categories>
                                <h2 class="teaser-sub-title">
                                    {{teaser.title}}
                                </h2>
                            </div>
                        </div>
                        </router-link>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
  import { mapGetters } from 'vuex';
  import PostCategories from '../posts/parts/PostCategories';

  export default {
    name: 'teaser-block',
    components: { PostCategories },
    computed: {
      ...mapGetters(['teasers']),
    },
    methods: {
      teaserImageUrl(img) {
        let image = '';
        if (img && img.indexOf('http://dev.woh.ru') === -1) {
          image = `${process.env.imgRoot}${img}`;
        }
        return image;
      },
    },
  };
</script>

<style scoped>

</style>
