<template>
  <div class="header">

    <div class="top-bar-body cd-auto-hide-header">
        <div class="top-bar-main">

            <button class="button-menu-open" @click="menuOpen" type="button">
              <img src="../../assets/images/icons/new/humburger.png" alt="" title="Выход">
            </button>


            <a v-on:click="reloadContent" style="border: none">
              <img style="margin-right: 5px" src="../../assets/images/icons/new/woh_white.png" alt="" title="На главную">
            </a>

          <button v-show="!showSearch" class="button-search-open" @click="searchOpen" type="button">
            <img src="../../assets/images/icons/new/search-w.png" alt="" title="Поиск">
          </button>
          <button v-show="showSearch" @click="closeMenu" class="button-search-open">
            <img src="../../assets/images/icons/new/close.png" alt="">
          </button>

        </div>
      <div v-show="showSearch" class="search-box">
        <input autocomplete="off" ref="search" placeholder="Найти что-нибудь интересное" class="search-box-input" type="text">
        <img class="search-box-input-button" src="../../assets/images/icons/new/search.png" alt="search">
      </div>
    </div>

      <div class="submenu" v-show="showMenu">
        <div class="user-block">
          <div @click="closeMenu" class="signin-body" v-if="!isAuthenticated">
            <div @click="signShow" class="signin-body none-decoration">
              <div class="signin-button">
                <img style="margin-right: 5px" src="../../assets/images/icons/new/login.png" alt="" title="Выход">
              </div>
              <div class="signing-text">
                Вход<br>
                /Регистрация
              </div>
            </div>
          </div>

          <div v-if="isProfileLoaded" class="avatar-body">
            <div @click="bodyScrollRemoveHidden" class="avatar-container" v-on:click="$emit('switch-menu')">
              <router-link class="none-decoration" to="/user">
                <avatar :size="48" v-if="!user.avatar" :username="user.name"></avatar>
                <img v-if="user.avatar" class="user-avatar" alt="" :src="user.avatar">
              </router-link>
            </div>
            <div class="avatar-body-second">
              <div class="avatar-body-username">{{ user.name }}</div>
            </div>
          </div>

          <div @click="closeMenu" class="submenu-close">
              <img src="../../assets/images/icons/new/close.png" alt="">
          </div>

        </div>


        <div v-if="isProfileLoaded" @click="closeMenu" class="submenu-button-group-body">
          <router-link class="none-decoration submenu-button" to="/user" title="Уведомления">

              <img src="../../assets/images/icons/new/alerts.png" alt="">

          </router-link>
          <router-link class="none-decoration submenu-button" to="/user-settings" title="Настройки">


              <img src="../../assets/images/icons/new/settings.png" alt="">


          </router-link>
          <a v-on:click="logout" class="none-decoration submenu-button">

              <img style="margin-right: 5px" src="../../assets/images/icons/new/logout.png" alt="" title="Выход">

          </a>
        </div>


          <div class="sidebar-menu">
            <ul @click="closeMenu">
              <router-link tag="li" to="/" exact>Главное</router-link>
              <router-link tag="li" to="/category-list/news">Новости</router-link>
              <router-link tag="li" to="/category-list/articles">Статьи</router-link>
              <router-link tag="li" to="/category-list/reviews">Обзоры</router-link>
              <router-link tag="li" to="/category-list/preview">Превью</router-link>
              <router-link tag="li" to="/category-list/guides">Гайды</router-link>
              <router-link tag="li" to="/category-list/video">Видео</router-link>
            </ul>
          </div>
      </div>

      <div v-show="showSearch" class="submenu-search">
        <div class="search-result">
          <p>aaaffffffffffffffffff ffffffffffffffff ffffffff<br></p>
          <p>ffffffffffffffffff ffffffffffffffff ffffffff<br></p>
          <p>ffffffffffffffffff ffffffffffffffff ffffffff<br></p>
          <p>ffffffffffffffffff ffffffffffffffff ffffffff<br></p>
          <p>ffffffffffffffffff ffffffffffffffff ffffffff<br></p>
          <p>ffffffffffffffffff ffffffffffffffff ffffffff<br></p>
          <p>aaaffffffffffffffffff ffffffffffffffff ffffffff<br></p>
          <p>ffffffffffffffffff ffffffffffffffff ffffffff<br></p>
          <p>ffffffffffffffffff ffffffffffffffff ffffffff<br></p>
          <p>ffffffffffffffffff ffffffffffffffff ffffffff<br></p>
          <p>ffffffffffffffffff ffffffffffffffff ffffffff<br></p>
          <p>ffffffffffffffffff ffffffffffffffff ffffffff<br></p>
          <p>aaaffffffffffffffffff ffffffffffffffff ffffffff<br></p>
          <p>ffffffffffffffffff ffffffffffffffff ffffffff<br></p>
          <p>ffffffffffffffffff ffffffffffffffff ffffffff<br></p>
          <p>ffffffffffffffffff ffffffffffffffff ffffffff<br></p>
          <p>ffffffffffffffffff ffffffffffffffff ffffffff<br></p>
          <p>ffffffffffffffffff ffffffffffffffff ffffffff<br></p>
          <p>aaaffffffffffffffffff ffffffffffffffff ffffffff<br></p>
          <p>ffffffffffffffffff ffffffffffffffff ffffffff<br></p>
          <p>ffffffffffffffffff ffffffffffffffff ffffffff<br></p>
          <p>ffffffffffffffffff ffffffffffffffff ffffffff<br></p>
          <p>ffffffffffffffffff ffffffffffffffff ffffffff<br></p>
          <p>ffffffffffffffffff ffffffffffffffff ffffffff<br></p>
          <p>aaaffffffffffffffffff ffffffffffffffff ffffffff<br></p>
          <p>ffffffffffffffffff ffffffffffffffff ffffffff<br></p>
          <p>ffffffffffffffffff ffffffffffffffff ffffffff<br></p>
          <p>ffffffffffffffffff ffffffffffffffff ffffffff<br></p>
          <p>ffffffffffffffffff ffffffffffffffff ffffffff<br></p>
          <p>ffffffffffffffffff ffffffffffffffff ffffffff<br></p>
          <p>aaaffffffffffffffffff ffffffffffffffff ffffffff<br></p>
          <p>ffffffffffffffffff ffffffffffffffff ffffffff<br></p>
          <p>fffffffffffffffffff ffffffffffffffff ffffffff<br></p>
          <p>ffffffffffffffffff ffffffffffffffff ffffffff<br></p>
          <p>ffffffffffffffffff fffffffffffffffff ffffffff<br></p>
          <p>ffffffffffffffffff ffffffffffffffff ffffffff<br></p>
          <p>aaaffffffffffffffffff ffffffffffffffff ffffffff<br></p>
          <p>ffffffffffffffffff ffffffffffffffff ffffffff<br></p>
          <p>ffffffffffffffffff ffffffffffffffff ffffffff<br></p>
          <p>ffffffffffffffffff ffffffffffffffff ffffffff<br></p>
          <p>ffffffffffffffffff ffffffffffffffff ffffffff<br></p>
          <p>ffffffffffffffffff ffffffffffffffff ffffffff<br></p>
          <p>aaaffffffffffffffffff ffffffffffffffff ffffffff<br></p>

        </div>
      </div>

  </div>
</template>

<script>
  /* eslint-disable no-console */
  import { mapGetters } from 'vuex';
  import { AUTH_LOGOUT, AUTH_SHOW } from '../../store/actions/auth';
  import '../../assets/js/auto-hiding';
  import { POSTS_PURGE, POSTS_REQUEST } from '../../store/actions/PostGet';

  export default {
    name: 'topbar-mobile',
    data() {
      return {
        showMenu: false,
        showSearch: false,
        body: document.getElementById('app2'),
      };
    },
    computed: {
      ...mapGetters(['isAuthenticated', 'isProfileLoaded', 'user']),
    },

    methods: {
      signShow() {
        this.$store.commit(AUTH_SHOW);
      },
      logout() {
        this.$store.dispatch(AUTH_LOGOUT);
        this.$router.push('/');
      },
      reloadContent() {
        this.showSearch = false;
        if (this.$route.name === 'posts-list') {
          window.scrollTo(0, 0);
          this.$store.commit(POSTS_PURGE);
          this.$store.dispatch(POSTS_REQUEST, 0);
        } else {
          this.$store.commit(POSTS_PURGE);
          this.$router.push('/');
        }
      },
      bodyScrollHidden() {
        this.body.classList.add('el-popup-parent--hidden');
      },
      bodyScrollRemoveHidden() {
        this.body.classList.remove('el-popup-parent--hidden');
      },
      menuOpen() {
        this.bodyScrollHidden();
        this.showSearch = false;
        this.showMenu = true;
      },
      closeMenu() {
        this.bodyScrollRemoveHidden();
        this.showMenu = false;
        this.showSearch = false;
      },
      searchOpen() {
        this.bodyScrollHidden();
        this.showSearch = this.showSearch === false;
        this.$nextTick(() => this.$refs.search.focus());
      },

    },
  };
</script>

<style scoped>
  .el-menu-item a {
    text-decoration: none;
    padding: 20px 0 20px;
    color: #909399;
  }

  .router-link-exact-active, .active {
    color: #1681FF!important;
  }

  .el-menu--horizontal>.el-menu-item.is-active {
    border-bottom: none;
  }
  .title-block a{
    border: none!important;
  }

  .el-dropdown-link {
    color: #f5f5f5;
  }

  .el-dropdown-link span:hover {
    color: #99cbff;
  }

  .menu-el a:hover {
    border-bottom: 5px solid dodgerblue;
  }
  .activeLink {
    border-bottom: 5px solid dodgerblue;
  }

  .el-tag {
    color: #225f9c;
    margin: 12px;
    border: 1px solid rgba(208, 208, 208, 0.73);
  }

  .el-input-group {
    width: 100%;
  }

  .avatar-container {
    margin-right: 18px;
  }

  .user-block {
    display: flex;
    height: 88px;
    padding: 0;
  }

  .submenu-button-group-body {
    display: flex;
    height: 40px;
    border-bottom: 1px solid #3D4144;
  }

  .submenu-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-right: 1px solid #3D4144;
  }

  .submenu-button:last-child {
    border-right: none;
  }
  .submenu-close {
    margin-left: auto;
    padding: 10px 22px;
  }

  .sidebar-menu li {
    padding: 0;
    border: 0;
    text-align: center;
    font-weight: 600;
  }

  .submenu-search {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
    background-color: #ffffff;
    overflow: auto;
  }
  .search-result {
    padding: 114px 20px 24px;
  }
  .search-box {
    position: relative;
    height: 50px;
    border: 4px solid #272b2f;
    border-top: none;
  }
  .search-box-input {
    width: 100%;
    height: 100%;
    border: none;
    padding: 1px 50px 1px 8px;
    caret-color: #1681FF;
  }

  .search-box-input-button {
    position: absolute;
    top: 0;
    right: 1px;
    cursor: pointer;
    padding: 14px;
  }
  .submenu .signin-body {
    margin-left: 10px;
  }
  .button-menu-open {
    position: relative;
    padding: 14px;
    right: 14px;
  }
  .button-search-open {
    position: relative;
    padding: 14px;
    left: 14px;
  }

</style>
