<template>
    <div class="top-bar-title-block">

        <a v-on:click="reloadContent" style="border: none">
          <img src="../../assets/images/logo/background.png" alt="">
        </a>

      <h3 class="top-bar-title" :class="categoryClassTitle" v-html="categoryTitle"></h3>

      <div class="top-bar-search-body">
        <input placeholder="Найти что-нибудь интересное" class="top-bar-search-input" type="text">
        <img class="top-bar-b-search-button" src="../../assets/images/icons/new/search.png" alt="search">
      </div>
      <a href="https://woh.ru" target="_blank" class="forum-button-link">
      <div class="forum-button-wrap">
        <button class="forum-button">
            Форум WOH
        </button>
      </div>
      </a>

    </div>
</template>

<script>
  /* eslint-disable no-console */

  import { POSTS_PURGE, POSTS_REQUEST } from '../../store/actions/PostGet';

  export default {
    name: 'top-title',
    methods: {
      reloadContent() {
        if (this.$route.name === 'posts-list') {
          this.$store.commit(POSTS_PURGE);
          this.$store.dispatch(POSTS_REQUEST, 0);
        } else {
          this.$store.commit(POSTS_PURGE);
          this.$router.push('/');
        }
      },
    },
    computed: {
      categoryTitle() {
        let catTitle = '';
        if (!this.$route.params.category) {
          catTitle = 'Новости<br> игрового мира';
        }
        if (this.$route.params.category === 'news') {
          catTitle = 'Новости';
        }
        if (this.$route.params.category === 'articles') {
          catTitle = 'Статьи';
        }
        if (this.$route.params.category === 'reviews') {
          catTitle = 'Обзоры';
        }
        if (this.$route.params.category === 'preview') {
          catTitle = 'Превью';
        }
        if (this.$route.params.category === 'guides') {
          catTitle = 'Гайды';
        }
        if (this.$route.params.category === 'video') {
          catTitle = 'Видео';
        }
        if (this.$route.params.category === 'esport') {
          catTitle = 'Киберспорт';
        }
        return catTitle;
      },
      categoryClassTitle() {
        return {
          category: this.$route.params.category,
        };
      },
    },
  };
</script>

<style scoped>
  .category {
    font-size: 26px;
  }

  .top-bar-title-block {
    display: flex;
    padding: 20px 0;
    align-items: center;
    border-bottom: 1px solid #d8d8d8;
    margin: 0 20px;
  }

  .top-bar-title {
    width: 110px;
    margin: 0 24px;
  }

  .top-bar-search-body {
    position: relative;
    flex: 1 1 0px;
    margin: 0 auto;
    max-width: 430px;
  }

  .top-bar-search-input {
    height: 48px;
    width: 100%;
    background-color: #e2e2e2;
    border-radius: 3px;
    padding: 14px 44px 14px 14px;
    border: 1px solid #d8d8d8;
    font-family: 'Open Sans';
    font-size: 14px;
    color: #7f7f7f;
  }

  .top-bar-search-input:focus {
    background-color: white;
  }

  .top-bar-b-search-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 16px;
    cursor: pointer;
  }
</style>
