<template>
  <div class="widget-hashtags">
    <span class="swiper-button-prev" slot="button-prev"></span>
    <swiper :options="swiperOption">
      <swiper-slide><router-link v-bind:to="'/tag/WoW Classic'">
        <div class="mobile-hashtags-item">#WoW Classic</div>
      </router-link></swiper-slide>
      <swiper-slide><router-link v-bind:to="'/tag/fallout'">
        <div class="mobile-hashtags-item">#fallout</div>
      </router-link></swiper-slide>
      <swiper-slide><router-link v-bind:to="'/tag/графика'">
        <div class="mobile-hashtags-item">#графика</div>
      </router-link></swiper-slide>
      <swiper-slide><router-link v-bind:to="'/tag/nintendo'">
        <div class="mobile-hashtags-item">#nintendo</div>
      </router-link></swiper-slide>
      <swiper-slide><router-link v-bind:to="'/tag/RDR2'">
        <div class="mobile-hashtags-item">#RDR2</div>
      </router-link></swiper-slide>
      <swiper-slide><router-link v-bind:to="'/tag/destiny2'">
        <div class="mobile-hashtags-item">#destiny2</div>
      </router-link></swiper-slide>
      <swiper-slide><router-link v-bind:to="'/tag/WOH'">
        <div class="mobile-hashtags-item">#WOH</div>
      </router-link></swiper-slide>
      <swiper-slide><router-link v-bind:to="'/tag/The Sims 4'">
        <div class="mobile-hashtags-item">#The Sims 4</div>
      </router-link></swiper-slide>
      <swiper-slide><router-link v-bind:to="'/tag/PUBG LOL'">
        <div class="mobile-hashtags-item">#PUBG LOL</div>
      </router-link></swiper-slide>
      <swiper-slide><router-link v-bind:to="'/tag/RDR2'">
        <div class="mobile-hashtags-item">#RDR2</div>
      </router-link></swiper-slide>
      <swiper-slide><router-link v-bind:to="'/tag/destiny2'">
        <div class="mobile-hashtags-item">#destiny2</div>
      </router-link></swiper-slide>
      <swiper-slide><router-link v-bind:to="'/tag/WOH'">
        <div class="mobile-hashtags-item">#WOH</div>
      </router-link></swiper-slide>
      <swiper-slide><router-link v-bind:to="'/tag/The Sims 4'">
        <div class="mobile-hashtags-item">#The Sims 4</div>
      </router-link></swiper-slide>
      <swiper-slide><router-link v-bind:to="'/tag/PUBG LOL'">
        <div class="mobile-hashtags-item">#PUBG LOL</div>
      </router-link></swiper-slide>


    </swiper>
    <span class="swiper-button-next" slot="button-next"></span>

  </div>
</template>

<script>

  import 'swiper/dist/css/swiper.css';
  import { swiper, swiperSlide } from 'vue-awesome-swiper';

  export default {
    name: 'WidgetHashtag',
    components: {
      swiper,
      swiperSlide,
    },
    data() {
      return {
        swiperOption: {
          spaceBetween: 20,
          slidesPerView: 'auto',
          slidesPerGroup: 3,
          navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
          },
        },
      };
    },
  };
</script>

<style scoped>

</style>
