<template>
  <div>
    <el-form :inline="true" class="demo-form-inline">
      <el-form-item label="Ебани ка сюда">
        <el-input v-model="articleId" placeholder="id статьи"></el-input>
      </el-form-item>

      <el-form-item>
        <el-button type="primary" @click="getPost">Загрузить статью</el-button>
      </el-form-item>
    </el-form>
    <div v-html="post.text"></div>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex';
  import { POST_REQUEST } from '../../store/actions/PostGet';

  export default {
    name: 'wow-home',
    data() {
      return {
        articleId: '',
        content: null,
      };
    },
    methods: {
      getPost() {
        this.$store.dispatch(POST_REQUEST, this.articleId);
      },
    },
    computed: {
      ...mapGetters(['post']),
    },
  };
</script>

<style scoped>

</style>
