<template>
  <div>
    <component v-bind:is="layout">
      <router-view/>
    </component>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex';
  import { USER_REQUEST } from './store/actions/user';

  export default {
    name: 'app',
    created() {
      if (this.$store.getters.isAuthenticated) {
        this.$store.dispatch(USER_REQUEST);
      }
      const wh = document.createElement('script');
      wh.setAttribute('src', 'https://wow.zamimg.com/widgets/power.js');
      document.head.appendChild(wh);
    },
    computed: {
      ...mapGetters(['isAuthenticated', 'user']),
      layout() {
        return this.$route.meta.layout || 'NewsLayout';
      },
    },
};
</script>



<style scoped>
</style>
