/* Global */
#send-btn {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.comment-input-body .comment-media {
  margin-left: 10px;
  margin-bottom: 5px;
}

.comment-send {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.comment-input-buttons-button {
  margin-right: 16px;
  padding: 8px;
}

.comment-input-buttons span {
  margin: 0;
}

.comment-input-buttons img {
  height: 16px;
  width: 16px;
}

.input-placeholder {
  font-size: 14px;
  color: #cecece;
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 10px;
}

.coolTextarea-footer {
  border-top: 1px solid #d2d2d2;
  display: none;
  align-items: center;
  height: 48px;
  padding: 0 12px;
}

.input-footer-visible {
  display: flex;
}

input[type=file] {
  outline: 0;
  opacity: 0;
  pointer-events: none;
  user-select: none;
}
label {
  width: 16px;
}

.input-focus-height {
  min-height: 100px;
}

.comment-input-el-del {
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(29,32,34,.6);
  border-radius: 0 0 0 2px;
  padding: 5px;
  cursor: pointer;
  outline: none;
  color: white;
  font-size: 12px;
}
.video {
  position: absolute;
  top: 45%;
  right: 45%;
  color: #ded7d7;
  font-size: 31px;
}

.cooltextarea-outer {
  display: flex;
  flex-flow: row wrap;
}

img.emoji {
  height: 24px;
  width: 24px;
  vertical-align: -0.5rem;
}

/* Textarea */
.cooltextarea {
  flex-grow: 95;
  flex-basis: 0;
  background-color: #fafafa;
  font-size: 14px;
	overflow-y: auto;
	overflow-x: hidden;
  white-space: pre-wrap;
  padding: 10px;
  margin: 10px;
  border-radius: 25px;
  text-align: left;
}

#send-btn {
  cursor: pointer;
  flex-grow: 5;
  flex-basis: 0;
  height: 40px;
  border-radius: 25px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 5px;
  padding: 5px;
}

#send-btn > img {
  width: 25px;
  height: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Component Colors */
.bg-cream {
  background-color: #ece7e7;
}

.btn-cream {
  background-color: #ece7e7;
}

.btn-cream:hover {
  background-color: #ded3d3;
}

.bg-cherry {
  background-color: #dd7e91;
}

.btn-cherry {
  background-color: #dd7e91;
}

.btn-cherry:hover {
  background-color: #d45e76;
}

.bg-forest {
  background-color: #84caaf;
}

.btn-forest {
  background-color: #84caaf;
}

.btn-forest:hover {
  background-color: #5eba97;
}

.bg-ocean {
  background-color: #93b8e9;
}

.btn-ocean {
  background-color: #93b8e9;
}

.btn-ocean:hover {
  background-color: #6b9ee1;
}

.bg-sun {
  background-color: #d6dfb0;
}

.btn-sun {
  background-color: #d6dfb0;
}

.btn-sun:hover {
  background-color: #c7d392;
}

.btn-transparent {
  background-color: transparent;
}

.btn-transparent:hover {
  background-color: transparent;
}
